<div>

  <button type="button" mat-stroked-button color="accent" (click)="goToAdd()">Adicione um livro</button>
<p></p>
<p-card class="cards" *ngFor="let entity of entities">
 <h1>Nome: {{ entity.nome }}</h1>
  <h4>autor: {{entity.autor}} </h4>
 <h4>Genero:  {{entity.genero}}</h4>
  <p-header>
      <img class="img" [src]="entity.imageUrl">
  </p-header >
  <div>{{entity.sinopse}}</div>
  <p-footer>

    <button type="button" mat-stroked-button color="accent" (click)="onDeleteEntity(entity.id)">Deletar</button>
  </p-footer>
</p-card>


