<div>
  <input type="text" [(ngModel)]="inputValue" (keyup.enter)="search()" />
  <button (click)="goToAdd()">Adicionar</button>
  <button (click)="toLimit()">Limite de 3</button>
</div>

<table>
  <tr>
    <th *ngFor="let header of headers">
      {{ header }}
    </th>
  </tr>

  <tr *ngFor="let entity of entities">
    <td *ngFor="let key of keys">{{ entity[key] }}</td>
    <td>
      <button (click)="editEntity(entity.id)">Editar</button>
      <button (click)="onDeleteEntity(entity.id)">Deletar</button>
    </td>
  </tr>
</table>
