.cards {
  height: 40%;
  width: 40%;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
}
img {
  max-height: 350px;
  height: 350px;
}
