<header role="banner">
  <img id="logo-main" src="https://bora.ai/a/files/blog/_modal/expressoletrinhas.png" width="400" alt="Logo Thing main logo">
<nav id="navbar-primary" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button class="bt" type="button" mat-stroked-button color="accent" (click)="gotoadd()">Veja os livros</button>
      <button class="bt" type="button" mat-stroked-button color="accent" (click)="gotoBook()">Adicione um livro</button>
    <div class="collapse navbar-collapse" id="navbar-primary-collapse">
      <ul class="nav navbar-nav">
